Repository nkpendyam/PULSE-IDE: changes, and which Codecov flags are due for each by the changed paths.
All: Rust Backend, TypeScript Frontend

refactor: Reorganize repository structure
  README.md
  docs/ROADMAP.md
  docs/architecture/kyro-extension.yaml
  docs/status/PROJECT_STATUS.md
  docs/status/archive/AUDIT_REPORT_2025-01-22.md
  docs/status/archive/COMPETITIVE_GAP_ANALYSIS_2026.md
  docs/status/archive/COMPREHENSIVE_GAP_ANALYSIS.md
  docs/status/archive/GAP_ANALYSIS.md
  docs/status/archive/GAP_STATUS_UPDATE.md
  docs/status/archive/V0_RELEASE_STATUS.md
  src-tauri/tests/auth_test.rs
  src-tauri/tests/collaboration_integration.rs
  src-tauri/tests/collaboration_test.rs
  src-tauri/tests/e2ee_test.rs
  src-tauri/tests/integration_tests.rs
  src-tauri/tests/lsp_test.rs
  src-tauri/tests/mod.rs
  src-tauri/tests/performance_test.rs
  src-tauri/tests/security_test.rs
  src-tauri/tests/vscode_compat_test.rs
  tests/integration_tests.rs
Due: none

feat: Implement Phase 1 & 2 features from Audit Report
  src-tauri/src/commands/lsp_real.rs
  src-tauri/tests/integration_tests.rs
  src-tauri/tests/lsp_test.rs
  src/components/editor/CodeEditor.tsx
  src/components/editor/EditorGroup.tsx
  src/components/editor/Minimap.tsx
  src/store/kyroStore.ts
Due: Rust Backend, TypeScript Frontend

docs: Update PROJECT_STATUS with audit implementation progress
  docs/status/PROJECT_STATUS.md
Due: none

feat: Complete Phase 3, 4, 5 - 100% Implementation
  docs/status/PROJECT_STATUS.md
  src-tauri/src/benchmark/memory.rs
  src-tauri/src/benchmark/startup.rs
  src-tauri/src/embedded_llm/zero_dependency.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/p2p/mod.rs
  src-tauri/src/vscode_compat/extension_host.rs
  src/components/accessibility/AccessibilityProvider.tsx
  src/components/migration/VsCodeMigration.tsx
Due: Rust Backend, TypeScript Frontend

feat: Complete 100% implementation - remove all placeholder code
  src-tauri/Cargo.toml
  src-tauri/src/agent_editor/agent.rs
  src-tauri/src/debug/client.rs
  src-tauri/src/embedded_llm/real_inference.rs
  src-tauri/src/inference/mod.rs
  src-tauri/src/p2p/discovery.rs
  src-tauri/src/p2p/mod.rs
  src-tauri/src/p2p/sync.rs
  src-tauri/src/p2p/webrtc.rs
  src-tauri/src/swarm_ai/p2p_swarm.rs
Due: Rust Backend

feat: Complete 100% implementation using open-source projects
  src-tauri/Cargo.toml
  src-tauri/src/commands/collaboration.rs
  src-tauri/src/commands/plugin.rs
  src-tauri/src/commands/vscode_compat.rs
  src-tauri/src/embedded_llm/engine.rs
  src-tauri/src/lsp_transport/client.rs
  src-tauri/src/p2p/mod.rs
Due: Rust Backend

fix: Replace production unwrap() with proper error handling
  src-tauri/src/chat_sidebar/mod.rs
  src-tauri/src/commands/auth.rs
  src-tauri/src/commands/chat_agent.rs
Due: Rust Backend

fix: Complete 100% implementation - Fix all unwrap() and placeholder code
  docs/status/PROJECT_STATUS.md
  src-tauri/src/agents/agent_lock.rs
  src-tauri/src/agents/branch_manager.rs
  src-tauri/src/auth/mod.rs
  src-tauri/src/benchmark/memory.rs
  src-tauri/src/benchmark/mod.rs
  src-tauri/src/benchmark/startup.rs
  src-tauri/src/chat_sidebar/rag_chat.rs
  src-tauri/src/commands/auth.rs
  src-tauri/src/files/local_history.rs
  src-tauri/src/git_crdt/awareness.rs
  src-tauri/src/lsp/completion_engine.rs
Due: Rust Backend

fix: Update CI workflows to use correct working-directory
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
Due: none

fix: Make AiClient fields public for completion engine access
  src-tauri/src/ai/mod.rs
Due: Rust Backend

fix: Phase 0 critical build fixes
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  package-lock.json
  src-tauri/src/commands/mod.rs
  src-tauri/tauri.conf.json
  src/app/page.tsx
Due: Rust Backend, TypeScript Frontend

Add Docker build environment, GitHub Actions CI/CD, platform scripts, and kyro-core headless library
  db/custom.db
  tsconfig.json
  worklog.md
Due: none

feat: Fix critical gaps and add 18-month roadmap
  docs/ENGINEERING_ROADMAP_18_MONTHS.md
  src-tauri/Cargo.toml
  src-tauri/src/ai/mod.rs
  src-tauri/src/ai/real_ai_service.rs
  src-tauri/src/commands/ai.rs
  src-tauri/src/e2ee/mod.rs
  src-tauri/src/embedded_llm/real_inference.rs
  worklog.md
Due: Rust Backend

feat: Connect frontend to real Tauri AI commands
  src/app/page.tsx
Due: TypeScript Frontend

docs: Update worklog with completed tasks
  worklog.md
Due: none

feat: Implement 18-month roadmap - Phase 1-4 complete
  examples/websocket/frontend.tsx
  src-tauri/src/ai/mod.rs
  src-tauri/src/ai/quality_gate.rs
  src-tauri/src/debug/client.rs
  src-tauri/src/debug/server.rs
  src-tauri/src/debug/session.rs
  src-tauri/src/e2ee/key_exchange.rs
  src-tauri/src/e2ee/mod.rs
  src-tauri/src/embedded_llm/context_cache.rs
  src-tauri/src/embedded_llm/engine.rs
  src-tauri/src/embedded_llm/model_manager.rs
  src-tauri/src/embedded_llm/real_inference.rs
  src-tauri/src/files/local_history.rs
  src-tauri/src/lsp/wasm_loader.rs
  src-tauri/src/lsp_transport/client.rs
  src-tauri/src/mcp/client.rs
  src-tauri/src/mcp/prompts.rs
  src-tauri/src/mcp/server.rs
  src-tauri/src/mcp/tools.rs
  src-tauri/src/rag/embeddings.rs
  src-tauri/src/rag/vector_store.rs
  src-tauri/src/swarm_ai/agents.rs
  src-tauri/src/swarm_ai/kv_cache.rs
  src-tauri/src/swarm_ai/local_inference.rs
  src-tauri/src/swarm_ai/mod.rs
  src-tauri/src/swarm_ai/model_registry.rs
  src-tauri/src/swarm_ai/speculative_decoder.rs
  src-tauri/src/terminal/mod.rs
  src-tauri/src/vscode_compat/api/commands.rs
  src-tauri/src/vscode_compat/api/workspace.rs
  src-tauri/src/vscode_compat/commands.rs
  src-tauri/src/vscode_compat/extension_host.rs
  worklog.md
Due: Rust Backend

Refactor-AirLLM-EmbeddedLLM-Agents
  docs/architecture/ENGINEERING_PLAN_V2.md
  src-tauri/Cargo.toml
  src-tauri/src/agents/parallel_agents.rs
  src-tauri/src/commands/embedded_llm.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/embedded_llm/engine.rs
  src-tauri/src/embedded_llm/mod.rs
  src-tauri/src/embedded_llm/model_manager.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/target/.rustc_info.json
  src-tauri/target/flycheck0/stderr
  src-tauri/target/flycheck0/stdout
Due: Rust Backend

perf-lru-cache-next-root-clean-logs
  .gitignore
  next.config.ts
  package-lock.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/errs11.txt
  src-tauri/errs_b10.txt
  src-tauri/errs_b6.txt
  src-tauri/errs_b8.txt
  src-tauri/errs_b9.txt
  src-tauri/errs_post_revert.txt
  src-tauri/src/ai/real_ai_service.rs
Due: Rust Backend

feat: Kyro IDE plan implementation - branding, AirLLM, agents, internal extensions
  .github/workflows/release.yml
  docs/architecture/CURRENT_ARCHITECTURE_VS_PLAN.md
  docs/architecture/ENGINEERING_PLAN_V2.md
  internal-extensions/kyro-agents/package.json
  internal-extensions/kyro-collab/package.json
  internal-extensions/kyro-models/package.json
  kyro-product.json
  package.json
  src-tauri/src/airllm/mod.rs
  src-tauri/src/commands/ai.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/app/page.tsx
  src/components/agent-manager/AgentManagerPanel.tsx
Due: Rust Backend, TypeScript Frontend

Kyro IDE: plan update (AoT, n8n, browser, GLM5/Kimi), README, orchestrator, audit
  README.md
  docs/AUDIT_STATUS.md
  docs/CLEANUP_CANDIDATES.md
  docs/KYRO_IDE_2026_ENGINEERING_PLAN.md
  package.json
  src-tauri/src/commands/agent_store.rs
  src-tauri/src/commands/extensions.rs
  src-tauri/src/commands/marketplace.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/orchestrator.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/orchestrator/missions.rs
  src-tauri/src/orchestrator/mod.rs
Due: Rust Backend

Fix EmbeddedLLM RwLock mutable borrow issues
  src-tauri/src/agent_editor/agent.rs
  src-tauri/src/chat_sidebar/rag_chat.rs
  src-tauri/src/commands/ai.rs
  src-tauri/src/commands/embedded_llm.rs
Due: Rust Backend

Phase 0: Fix compilation errors batch 1 - vscode_compat, e2ee, lsp, p2p
  .qoder/plans/Kyro_IDE_Full_Implementation_e68a7332.md
  src-tauri/src/agent_editor/executor.rs
  src-tauri/src/agent_store/mod.rs
  src-tauri/src/auth/audit.rs
  src-tauri/src/chat_sidebar/streaming.rs
  src-tauri/src/e2ee/key_exchange.rs
  src-tauri/src/embedded_llm/engine.rs
  src-tauri/src/files/local_history.rs
  src-tauri/src/lsp_tower/backend.rs
  src-tauri/src/lsp_transport/transport.rs
  src-tauri/src/mcp/prompts.rs
  src-tauri/src/p2p/mod.rs
  src-tauri/src/p2p/sync.rs
  src-tauri/src/picoclaw/mod.rs
  src-tauri/src/plugin_sandbox/mod.rs
  src-tauri/src/trust/mod.rs
  src-tauri/src/update/channels.rs
  src-tauri/src/update/mod.rs
  src-tauri/src/vscode_compat/commands.rs
  src-tauri/src/vscode_compat/extension_host.rs
  src-tauri/src/vscode_compat/mod.rs
  src-tauri/src/vscode_compat/openvsx.rs
Due: Rust Backend

Fix Rust compilation errors: E0382 moved reader and callback
  BUILD_PLAN_2026.md
  src-tauri/check_output.txt
  src-tauri/src/agent_editor/agent.rs
  src-tauri/src/agent_editor/approval.rs
  src-tauri/src/agent_editor/planner.rs
  src-tauri/src/agents/memory.rs
  src-tauri/src/agents/parallel_agents.rs
  src-tauri/src/benchmark/mod.rs
  src-tauri/src/benchmark/startup.rs
  src-tauri/src/buffer/gap_buffer.rs
  src-tauri/src/buffer/rope_buffer.rs
  src-tauri/src/chat_sidebar/rag_chat.rs
  src-tauri/src/collab/mod.rs
  src-tauri/src/debug/client.rs
  src-tauri/src/e2ee/mod.rs
  src-tauri/src/embedded_llm/memory_tiers.rs
  src-tauri/src/git_crdt/yjs_adapter.rs
  src-tauri/src/lsp/smart_selection.rs
  src-tauri/src/lsp_transport/semantic_tokens.rs
  src-tauri/src/lsp_transport/transport.rs
  src-tauri/src/telegram/notifications.rs
  src-tauri/src/vscode_compat/extension_host.rs
  src-tauri/src/vscode_compat/extension_runtime.rs
  src-tauri/src/vscode_compat/manifest.rs
  src-tauri/src/vscode_compat/protocol.rs
Due: Rust Backend

Fix Rust E0277 error in trust/mod.rs - Change return type to Result
  src-tauri/src/buffer/gap_buffer.rs
  src-tauri/src/trust/mod.rs
Due: Rust Backend

Fix all 24 original Rust compilation errors
  src-tauri/src/auth/mod.rs
  src-tauri/src/chat_sidebar/rag_chat.rs
  src-tauri/src/embedded_llm/backends.rs
  src-tauri/src/embedded_llm/context_cache.rs
  src-tauri/src/embedded_llm/engine.rs
  src-tauri/src/embedded_llm/model_manager.rs
  src-tauri/src/git_crdt/yjs_adapter.rs
  src-tauri/src/lsp/smart_selection.rs
  src-tauri/src/lsp_transport/code_lens.rs
  src-tauri/src/memory/mod.rs
  src-tauri/src/plugin_sandbox/mod.rs
  src-tauri/src/rag/embeddings.rs
  src-tauri/src/swarm_ai/kv_cache.rs
  src-tauri/src/trust/mod.rs
  src-tauri/src/update/mod.rs
  src-tauri/src/vscode_compat/extension_host.rs
  src-tauri/src/vscode_compat/mod.rs
Due: Rust Backend

Fix all Rust compilation errors: State wrappers, Result returns, Send-safe futures
  src-tauri/src/airllm/mod.rs
  src-tauri/src/commands/lsp.rs
  src-tauri/src/commands/terminal.rs
  src-tauri/src/main.rs
Due: Rust Backend

Fix all 70 TypeScript compilation errors: 0 errors remaining
  next.config.ts
  src/app/page.tsx
  src/components/debug/DebugPanel.tsx
  src/components/editor/CodeEditor.tsx
  src/components/editor/EditorGroup.tsx
  src/components/editor/GhostTextProvider.tsx
  src/components/editor/Minimap.tsx
  src/components/editor/MonacoEditor.tsx
  src/components/extensions/UnifiedMarketplace.tsx
  src/components/migration/VsCodeMigration.tsx
  src/components/palette/CommandPalette.tsx
  src/components/search/GlobalSearch.tsx
  src/components/sidebar/FileTree.tsx
  src/components/update/UpdatePanel.tsx
  src/lib/themeSystem.ts
  src/store/kyroStore.ts
  src/types/tauri-plugins.d.ts
  tsconfig.json
  vitest.config.ts
Due: TypeScript Frontend

Release v0.2.0: Complete build, 0 errors, all tests pass
  BUILD_PLAN_2026.md
  CHANGELOG.md
  VERSION
Due: none

feat: implement AoT engine, register all commands, wire page.tsx to real components
  package-lock.json
  package.json
  src-tauri/src/aot/mod.rs
  src-tauri/src/aot/prompts.rs
  src-tauri/src/commands/agent_store.rs
  src-tauri/src/commands/aot.rs
  src-tauri/src/commands/chat_agent.rs
  src-tauri/src/commands/extensions.rs
  src-tauri/src/commands/marketplace.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src/app/page.tsx
  tsconfig.json
Due: Rust Backend, TypeScript Frontend

fix: resolve deep audit gaps - wire CommandPalette actions, fix Prisma schema, improve file tree loading
  prisma/schema.prisma
  src/app/page.tsx
  src/components/palette/CommandPalette.tsx
Due: TypeScript Frontend

feat: wire all backend + frontend for real IDE functionality
  src-tauri/src/commands/e2ee.rs
  src-tauri/src/commands/lsp_real.rs
  src-tauri/src/commands/mcp.rs
  src-tauri/src/commands/plugin.rs
  src-tauri/src/commands/rag.rs
  src-tauri/src/commands/swarm.rs
  src-tauri/src/commands/update.rs
  src/app/page.tsx
Due: Rust Backend, TypeScript Frontend

fix: implement all RED/YELLOW audit findings — real backends, removed mock data
  src-tauri/src/agents/parallel_agents.rs
  src-tauri/src/autonomous/external.rs
  src-tauri/src/chat_sidebar/rag_chat.rs
  src-tauri/src/commands/auth.rs
  src-tauri/src/commands/collaboration.rs
  src-tauri/src/commands/gitcrdt.rs
  src-tauri/src/commands/vscode_compat.rs
  src-tauri/src/commands/websocket.rs
  src-tauri/src/embedded_llm/backends.rs
  src-tauri/src/extensions/github_marketplace.rs
  src-tauri/src/inference/mod.rs
  src-tauri/src/rag/vector_store.rs
  src/app/api/route.ts
  src/app/layout.tsx
  src/components/agent-manager/AgentManagerPanel.tsx
  src/components/search/SymbolSearch.tsx
Due: Rust Backend, TypeScript Frontend

style: update Tailwind classes to v4 canonical form
  src/components/agent-manager/AgentManagerPanel.tsx
  src/components/chat/InlineChat.tsx
  src/components/editor/EditorGroup.tsx
  src/components/extensions/UnifiedMarketplace.tsx
  src/components/git/GitStagingPanel.tsx
  src/components/navigation/Breadcrumbs.tsx
  src/components/palette/CommandPalette.tsx
  src/components/search/GlobalSearch.tsx
  src/components/search/SymbolSearch.tsx
  src/components/sidebar/FileTree.tsx
Due: TypeScript Frontend

build: configure Tauri production build (static export + .exe/.msi/.nsis)
  next.config.ts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/app/api/route.ts
Due: TypeScript Frontend

Path conditions:
  Rust Backend: any of: src-tauri/src/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/__tests__/**
  TypeScript Frontend: any of: src/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/__tests__/**
