Repository nkpendyam/PULSE-IDE: changes, and which Codecov flags are due for each by the changed paths.
All: Rust Backend, TypeScript Frontend

feat: wire all missing Tauri commands — search, debug, RAG chat, inline edit, agents
  next.config.ts
  src-tauri/src/commands/ai.rs
  src-tauri/src/commands/debug.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/search.rs
  src-tauri/src/main.rs
Due: Rust Backend

feat: implement all remaining stubs with real open-source integrations
  src-tauri/src/commands/ai.rs
  src-tauri/src/commands/debug.rs
  src-tauri/src/commands/git.rs
  src-tauri/src/commands/lsp_real.rs
  src-tauri/src/commands/mcp.rs
  src-tauri/src/git/mod.rs
  src-tauri/src/main.rs
  src-tauri/src/plugin_sandbox/runtime.rs
  src/components/editor/EditorGroup.tsx
Due: Rust Backend, TypeScript Frontend

feat: Phase 1-5 architecture — context engine, quest orchestrator, MCP transport, multi-model router, feedback flywheel
  src-tauri/src/commands/feedback.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/orchestrator.rs
  src-tauri/src/commands/swarm.rs
  src-tauri/src/feedback/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/mcp/client.rs
  src-tauri/src/mcp/transport.rs
  src-tauri/src/orchestrator/mod.rs
  src-tauri/src/rag/file_watcher.rs
  src-tauri/src/rag/mod.rs
  src-tauri/src/swarm_ai/mod.rs
  src-tauri/src/swarm_ai/router.rs
Due: Rust Backend

feat: add RepoWiki — auto-documentation engine with AST extraction, dependency graph, LLM wiki generation, and living sync
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/repowiki.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/repowiki/generator.rs
  src-tauri/src/repowiki/graph.rs
  src-tauri/src/repowiki/mod.rs
  src-tauri/src/repowiki/scanner.rs
  src-tauri/src/repowiki/sync.rs
  src-tauri/src/repowiki/writer.rs
Due: Rust Backend

Phase 1: fix 7 broken command wires + memory tree-sitter + compression tree-sitter
  docs/KYRO_AUDIT_AND_MASTER_PLAN.md
  src-tauri/src/commands/collaboration.rs
  src-tauri/src/commands/git.rs
  src-tauri/src/git/mod.rs
  src-tauri/src/main.rs
  src-tauri/src/memory/compression.rs
  src-tauri/src/memory/mod.rs
Due: Rust Backend

Phase 2+3: GraphRAG, settings, project config, model download, enhanced executor, test runner
  src-tauri/src/autonomous/executor.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/model_download.rs
  src-tauri/src/commands/project_config.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/commands/testing.rs
  src-tauri/src/main.rs
  src-tauri/src/rag/graph_rag.rs
  src-tauri/src/rag/mod.rs
Due: Rust Backend

100% completion: GraphRAG wiring, LLM executor, agent stream, test runner, browser preview, Save-As dialog, settings persistence, real download events
  src-tauri/src/ai/mod.rs
  src-tauri/src/autonomous/executor.rs
  src-tauri/src/commands/orchestrator.rs
  src-tauri/src/commands/rag.rs
  src-tauri/src/commands/repowiki.rs
  src-tauri/src/main.rs
  src-tauri/src/orchestrator/mod.rs
  src/app/page.tsx
  src/components/agents/AgentStreamPanel.tsx
  src/components/browser/BrowserPreview.tsx
  src/components/editor/MonacoEditor.tsx
  src/components/onboarding/FirstRunExperience.tsx
  src/components/settings/SettingsPanel.tsx
  src/components/testing/TestRunnerPanel.tsx
Due: Rust Backend, TypeScript Frontend

feat: implement Phase 1-2 gap features — @ mentions, model selector, autopilot panel, checkpoints, edit prediction, terminal AI, project rules, enhanced settings
  src/app/globals.css
  src/app/page.tsx
  src/components/agents/AgentAutopilotPanel.tsx
  src/components/chat/ConversationCheckpoints.tsx
  src/components/chat/MentionAutocomplete.tsx
  src/components/chat/ModelSelector.tsx
  src/components/editor/EditPredictionProvider.tsx
  src/components/settings/ProjectRules.tsx
  src/components/settings/SettingsPanel.tsx
  src/components/terminal/TerminalAI.tsx
  src/store/kyroStore.ts
Due: TypeScript Frontend

fix(ci): comprehensive CI reliability fixes
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  src-tauri/Cargo.toml
  src-tauri/rust-toolchain.toml
Due: none

feat: wire all gap features + create Remote/DevContainers component
  src/app/page.tsx
  src/components/chat/AIChatSidebar.tsx
  src/components/remote/RemoteDevContainers.tsx
Due: TypeScript Frontend

feat: wire LSP backend to Monaco editor
  src/app/page.tsx
  src/lib/lspBridge.ts
Due: TypeScript Frontend

fix: P0 bugs + IDE UX polish
  src-tauri/src/commands/git.rs
  src-tauri/src/main.rs
  src/app/page.tsx
  src/components/navigation/Breadcrumbs.tsx
  src/components/statusbar/StatusBar.tsx
  src/components/tabs/TabBar.tsx
  src/lib/lspBridge.ts
  src/store/kyroStore.ts
Due: Rust Backend, TypeScript Frontend

chore: organize top-level docs into structured folders
  README.md
  docs/architecture/BUILD_PLAN_2026.md
  docs/guides/BUILD.md
  docs/guides/SETUP.md
  docs/status/ROADMAP.md
  docs/status/archive/V0_RELEASE_STATUS.md
  docs/status/worklog.md
  src-tauri/src/agents/file_guard.rs
Due: Rust Backend

feat: wire chat_agent commands and real page state
  src-tauri/src/commands/chat_agent.rs
  src-tauri/src/main.rs
  src/app/page.tsx
Due: Rust Backend, TypeScript Frontend

fix: stabilize GitHub Actions and repair app icon assets
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
Due: none

Potential fix for pull request finding
  src-tauri/src/commands/chat_agent.rs
Due: Rust Backend

Potential fix for pull request finding
  src/app/layout.tsx
Due: TypeScript Frontend

security: set updater pubkey in tauri.conf.json
  src-tauri/tauri.conf.json
Due: none

docs: add Kyro product blueprint 2026 analysis
  docs/architecture/KYRO_PRODUCT_BLUEPRINT_2026.md
Due: none

phase-complete: add stability proof automation and advisory governance artifacts
  .github/workflows/stability-proof.yml
  docs/status/AUDIT_EXCEPTION_REGISTER.md
  docs/status/PARITY_COMPLETION_REPORT.md
  docs/status/RELIABILITY_PARITY_EXECUTION.md
  scripts/stability-proof.ps1
  scripts/stability-proof.sh
Due: none

hardening: enforce CI gates, patch deps, and remove direct bincode usage
  .github/workflows/ci.yml
  docs/status/RELIABILITY_PARITY_EXECUTION.md
  src-tauri/.cargo/audit.toml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/crates/kyro-git/Cargo.toml
  src-tauri/src/rag/vector_store.rs
  src/components/agent-manager/AgentManagerPanel.tsx
  src/components/chat/MentionAutocomplete.tsx
  src/components/editor/CodeEditor.tsx
  src/components/editor/MonacoEditor.tsx
Due: Rust Backend, TypeScript Frontend

security: wire signed updater flow and tighten CSP
  .github/workflows/release.yml
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/windows-schema.json
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/components/update/UpdatePanel.tsx
Due: Rust Backend, TypeScript Frontend

feat: mitigate platform limitations with capability guards and backend parity
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/remote.rs
  src-tauri/src/main.rs
  src/components/extensions/UnifiedMarketplace.tsx
  src/components/llm/HardwareInfoPanel.tsx
  src/components/remote/RemoteDevContainers.tsx
Due: Rust Backend, TypeScript Frontend

feat: add extension compatibility matrix and pre-install checks
  src-tauri/src/commands/vscode_compat.rs
  src-tauri/src/main.rs
  src/components/extensions/UnifiedMarketplace.tsx
Due: Rust Backend, TypeScript Frontend

ux: enforce browser-vs-desktop capability boundaries in workbench
  src/app/page.tsx
Due: TypeScript Frontend

feat: implement real remote execution architecture for ssh/wsl/devcontainer
  src-tauri/src/commands/remote.rs
  src-tauri/src/main.rs
  src/components/remote/RemoteDevContainers.tsx
Due: Rust Backend, TypeScript Frontend

feat: add runtime capability matrix for architectural readiness
  src-tauri/src/commands/settings.rs
  src-tauri/src/main.rs
  src/components/settings/SettingsPanel.tsx
Due: Rust Backend, TypeScript Frontend

feat: add persistent remote profiles and remote file browsing architecture
  src-tauri/src/commands/remote.rs
  src-tauri/src/main.rs
  src/components/remote/RemoteDevContainers.tsx
Due: Rust Backend, TypeScript Frontend

feat: enable editable remote files with save-back architecture
  src-tauri/src/commands/remote.rs
  src-tauri/src/main.rs
  src/app/page.tsx
  src/components/remote/RemoteDevContainers.tsx
Due: Rust Backend, TypeScript Frontend

feat(remote): add directory navigation and local export for remote files
  src-tauri/src/commands/remote.rs
  src-tauri/src/main.rs
  src/components/remote/RemoteDevContainers.tsx
Due: Rust Backend, TypeScript Frontend

feat(remote): add remote file rename and delete operations
  src-tauri/src/commands/remote.rs
  src-tauri/src/main.rs
  src/components/remote/RemoteDevContainers.tsx
Due: Rust Backend, TypeScript Frontend

feat(remote): add bulk multi-select copy move and delete actions
  src-tauri/src/commands/remote.rs
  src-tauri/src/main.rs
  src/components/remote/RemoteDevContainers.tsx
Due: Rust Backend, TypeScript Frontend

feat(remote): add create file folder and local upload actions
  src-tauri/src/commands/remote.rs
  src-tauri/src/main.rs
  src/components/remote/RemoteDevContainers.tsx
Due: Rust Backend, TypeScript Frontend

feat(remote): add binary resumable transfers with progress cancel and file list controls
  src-tauri/src/commands/remote.rs
  src-tauri/src/main.rs
  src/components/remote/RemoteDevContainers.tsx
  src/components/remote/remoteFileListUtils.ts
  tests/unit/typescript/remote-file-list-utils.test.ts
Due: Rust Backend, TypeScript Frontend

audit: publish detailed project readiness report and harden cross-platform release builds
  .github/workflows/cross-platform-bundles.yml
  .github/workflows/release.yml
  docs/status/PROJECT_AUDIT_2026-03-13.md
Due: none

docs(status): establish source-of-truth backlog and mark legacy status snapshots
  docs/AUDIT_STATUS.md
  docs/status/BACKLOG_SOURCE_OF_TRUTH.md
  docs/status/PROJECT_STATUS.md
  docs/status/ROADMAP.md
Due: none

feat(chat): wire @mentions into rag context payload
  src/components/chat/AIChatSidebar.tsx
  src/components/chat/MentionAutocomplete.tsx
  src/components/chat/mentionContext.ts
  tests/unit/typescript/mention-context.test.ts
Due: TypeScript Frontend

feat(chat): show inline @mention preview chips
  src/components/chat/AIChatSidebar.tsx
Due: TypeScript Frontend

Path conditions:
  Rust Backend: any of: src-tauri/src/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/__tests__/**
  TypeScript Frontend: any of: src/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/__tests__/**
