Repository nkpendyam/PULSE-IDE: changes, and which Codecov flags are due for each by the changed paths.
All: Rust Backend, TypeScript Frontend

feat(chat): allow removing mention preview chips
  src/components/chat/AIChatSidebar.tsx
Due: TypeScript Frontend

feat(chat): remove last mention with backspace
  src/components/chat/AIChatSidebar.tsx
Due: TypeScript Frontend

feat(chat): dedupe mention preview chips
  src/components/chat/AIChatSidebar.tsx
Due: TypeScript Frontend

feat(chat): stabilize mention chip ordering and tooltips
  src/components/chat/AIChatSidebar.tsx
Due: TypeScript Frontend

feat(chat): add keyboard navigation for mention chips
  src/components/chat/AIChatSidebar.tsx
Due: TypeScript Frontend

feat(chat): add focused mention chip keyboard hint
  docs/status/BACKLOG_SOURCE_OF_TRUTH.md
  src/components/chat/AIChatSidebar.tsx
Due: TypeScript Frontend

feat(terminal): wire AI explain/fix with live output polling
  src-tauri/src/commands/terminal.rs
  src-tauri/src/main.rs
  src-tauri/src/terminal/mod.rs
  src/app/page.tsx
  src/components/terminal/TerminalAI.tsx
  src/components/terminal/TerminalPanel.tsx
Due: Rust Backend, TypeScript Frontend

feat(terminal): add risk guardrails for AI fix commands
  src/components/terminal/TerminalAI.tsx
Due: TypeScript Frontend

feat(terminal): analyze output after AI fix execution
  src/components/terminal/TerminalAI.tsx
Due: TypeScript Frontend

feat(terminal): show recent AI fix attempt history
  src/components/terminal/TerminalAI.tsx
Due: TypeScript Frontend

feat(terminal): add rerun action for fix history
  src/components/terminal/TerminalAI.tsx
Due: TypeScript Frontend

feat(terminal): add copy summary action for fix history
  src/components/terminal/TerminalAI.tsx
Due: TypeScript Frontend

fix(lint): avoid ref access during render in page
  src/app/page.tsx
Due: TypeScript Frontend

docs(status): record phase-c mentions and terminal-ai delivery
  docs/status/worklog.md
Due: none

docs(status): add issue-ready top 10 phase-c tasks
  docs/status/BACKLOG_SOURCE_OF_TRUTH.md
Due: none

docs(status): link phase-c tasks to live github issues
  docs/status/BACKLOG_SOURCE_OF_TRUTH.md
  docs/status/worklog.md
Due: none

docs(status): fix phase-c tracker formatting and log commit
  docs/status/BACKLOG_SOURCE_OF_TRUTH.md
  docs/status/worklog.md
Due: none

Add settings search and correct competitive status docs
  docs/IDE_GAP_ANALYSIS_2026.md
  docs/status/COMPETITIVE_READINESS.md
  docs/status/PROJECT_STATUS.md
  src/components/settings/SettingsPanel.tsx
Due: TypeScript Frontend

Harden Windows EXE installer experience
  README.md
  docs/INSTALLATION.md
  package.json
  scripts/build-windows.ps1
  src-tauri/tauri.conf.json
  src-tauri/windows/installer-hooks.nsh
Due: none

Path conditions:
  Rust Backend: any of: src-tauri/src/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/__tests__/**
  TypeScript Frontend: any of: src/, but not: **/*.test.ts, **/*.spec.ts, **/tests/**, **/__tests__/**
